html,
body {
  background: $primary-color;
  color: $secondary-color;
  width: 100%;
  min-height: 100%;
  font-size: 100%;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'PingFang TC', 'Segoe UI',
    'Noto Sans TC', Roboto, Ubuntu, 'Helvetica Neue', Helvetica, Arial,
    'Source Han Sans TC', sans-serif;
  // -apple-system,       /* iOS Safari, macOS Safari, macOS Firefox */
  // BlinkMacSystemFont,  /* macOS Chrome */
  // 'PingFang TC',       /* 蘋方 */
  // 'Segoe UI',          /* Windows, Windows Phone */
  // 'Noto Sans TC',      /* Google: 思源黑體 */
  // Roboto,              /* Google: Android, Chrome OS */
  // Ubuntu,              /* Linux: Ubanto */
  // 'Helvetica Neue'     /* OS X pre-EI Capitan */
  // Helvetica,
  // Arial,               /* Windows 3.1 */
  // 'Source Han Sans TC' /* Google: 思源黑體 */
  // sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: rgba(
    255,
    255,
    255,
    0.99
  ); // Chrome forces it to be semi-transparent, so need to set alpha
  color: black;
}
