/*** colors***/
$primary-color: #000;
$secondary-color: #fff;
$third-color: #767676;
$dark-grey: #212121;

/*** font-familys ***/
$arial: Arial, Helvetica, sans-serif;

/*** font-weights ***/
$font-weight--light: 300;
$font-weight--medium: 400;
$font-weight--black: 900;
